In [1]:
import numpy as np
import pandas as pd

In [2]:
train_val = pd.read_csv("train_values.csv")
train_labels = pd.read_csv("train_labels.csv")

In [3]:
train_val.describe()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
count,2.606010e+05,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,...,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000
mean,5.256755e+05,13.900353,701.074685,6257.876148,2.129723,26.535029,8.018051,5.434365,0.088645,0.761935,...,0.064378,0.033626,0.008101,0.000940,0.000361,0.001071,0.000188,0.000146,0.000088,0.005119
std,3.045450e+05,8.033617,412.710734,3646.369645,0.727665,73.565937,4.392231,1.918418,0.284231,0.425900,...,0.245426,0.180265,0.089638,0.030647,0.018989,0.032703,0.013711,0.012075,0.009394,0.071364
min,4.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.611900e+05,7.000000,350.000000,3073.000000,2.000000,10.000000,5.000000,4.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.257570e+05,12.000000,702.000000,6270.000000,2.000000,15.000000,7.000000,5.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.897620e+05,21.000000,1050.000000,9412.000000,2.000000,30.000000,9.000000,6.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.052934e+06,30.000000,1427.000000,12567.000000,9.000000,995.000000,100.000000,32.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
train_labels.describe()

        building_id   damage_grade
count  2.606010e+05  260601.000000
mean   5.256755e+05       2.238272
std    3.045450e+05       0.611814
min    4.000000e+00       1.000000
25%    2.611900e+05       2.000000
50%    5.257570e+05       2.000000
75%    7.897620e+05       3.000000
max    1.052934e+06       3.000000

In [5]:
train = pd.merge(train_val,train_labels,how="inner",on="building_id")
# print(train.select_dtypes(include="number").describe())
# train_numeric = train.select_dtypes(include="number")

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
 39  damage_grade                            260601 non-null  int64
dtypes: int64(32), object(8)
memory usage: 79.5+ MB

In [7]:
train.isnull().sum().sort_values(ascending=False)

building_id                               0
geo_level_1_id                            0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
has_superstructure_timber                 0
has_superstructure_cement_mortar_brick    0
has_superstructure_mud_mortar_brick       0
foundation_type                           0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
roof_type                                 0
has_superstructure_cement_mortar_stone    0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
damage_grade                              0
dtype: int64

In [8]:
train.nunique().sort_values(ascending=False)

building_id                               260601
geo_level_3_id                             11595
geo_level_2_id                              1414
area_percentage                               84
age                                           42
geo_level_1_id                                31
height_percentage                             27
count_families                                10
plan_configuration                            10
count_floors_pre_eq                            9
foundation_type                                5
ground_floor_type                              5
legal_ownership_status                         4
other_floor_type                               4
position                                       4
damage_grade                                   3
roof_type                                      3
land_surface_condition                         3
has_superstructure_mud_mortar_stone            2
has_secondary_use_agriculture                  2
has_secondary_use_other                        2
has_secondary_use_use_police                   2
has_secondary_use_gov_office                   2
has_secondary_use_health_post                  2
has_secondary_use_industry                     2
has_secondary_use_school                       2
has_secondary_use_institution                  2
has_secondary_use_rental                       2
has_secondary_use_hotel                        2
has_secondary_use                              2
has_superstructure_stone_flag                  2
has_superstructure_other                       2
has_superstructure_rc_engineered               2
has_superstructure_rc_non_engineered           2
has_superstructure_bamboo                      2
has_superstructure_timber                      2
has_superstructure_adobe_mud                   2
has_superstructure_mud_mortar_brick            2
has_superstructure_cement_mortar_stone         2
has_superstructure_cement_mortar_brick         2
dtype: int64

In [9]:
train[train.duplicated() == True]

Empty DataFrame
Columns: [building_id, geo_level_1_id, geo_level_2_id, geo_level_3_id, count_floors_pre_eq, age, area_percentage, height_percentage, land_surface_condition, foundation_type, roof_type, ground_floor_type, other_floor_type, position, plan_configuration, has_superstructure_adobe_mud, has_superstructure_mud_mortar_stone, has_superstructure_stone_flag, has_superstructure_cement_mortar_stone, has_superstructure_mud_mortar_brick, has_superstructure_cement_mortar_brick, has_superstructure_timber, has_superstructure_bamboo, has_superstructure_rc_non_engineered, has_superstructure_rc_engineered, has_superstructure_other, legal_ownership_status, count_families, has_secondary_use, has_secondary_use_agriculture, has_secondary_use_hotel, has_secondary_use_rental, has_secondary_use_institution, has_secondary_use_school, has_secondary_use_industry, has_secondary_use_health_post, has_secondary_use_gov_office, has_secondary_use_use_police, has_secondary_use_other, damage_grade]
Index: []

[0 rows x 40 columns]

In [10]:
train[train.columns[train.nunique() <= 2]] = train[train.columns[train.nunique() <= 2]].astype("category")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  category
 16  has_superstructure_mud_mortar_stone     260601 non-null  category
 17  has_superstructure_stone_flag           260601 non-null  category
 18  has_superstructure_cement_mortar_stone  260601 non-null  category
 19  has_superstructure_mud_mortar_brick     260601 non-null  category
 20  has_superstructure_cement_mortar_brick  260601 non-null  category
 21  has_superstructure_timber               260601 non-null  category
 22  has_superstructure_bamboo               260601 non-null  category
 23  has_superstructure_rc_non_engineered    260601 non-null  category
 24  has_superstructure_rc_engineered        260601 non-null  category
 25  has_superstructure_other                260601 non-null  category
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  category
 29  has_secondary_use_agriculture           260601 non-null  category
 30  has_secondary_use_hotel                 260601 non-null  category
 31  has_secondary_use_rental                260601 non-null  category
 32  has_secondary_use_institution           260601 non-null  category
 33  has_secondary_use_school                260601 non-null  category
 34  has_secondary_use_industry              260601 non-null  category
 35  has_secondary_use_health_post           260601 non-null  category
 36  has_secondary_use_gov_office            260601 non-null  category
 37  has_secondary_use_use_police            260601 non-null  category
 38  has_secondary_use_other                 260601 non-null  category
 39  damage_grade                            260601 non-null  int64
dtypes: category(22), int64(10), object(8)
memory usage: 41.3+ MB

In [12]:
print(train["plan_configuration"].unique())
print(train["position"].unique())
print(train["other_floor_type"].unique())
print(train["ground_floor_type"].unique())
print(train["land_surface_condition"].unique())
print(train["foundation_type"].unique())
print(train["roof_type"].unique())
print(train["legal_ownership_status"].unique())
print(train["count_families"].unique())

['d' 'u' 's' 'q' 'm' 'c' 'a' 'n' 'f' 'o']
['t' 's' 'j' 'o']
['q' 'x' 'j' 's']
['f' 'x' 'v' 'z' 'm']
['t' 'o' 'n']
['r' 'w' 'i' 'u' 'h']
['n' 'q' 'x']
['v' 'a' 'r' 'w']
[1 0 2 3 4 5 6 7 9 8]

In [13]:
train.dtypes.value_counts()

category    22
int64       10
object       8
Name: count, dtype: int64

In [14]:
train_numeric = train.select_dtypes(include="number")
#subset = train.select_dtypes(include="number").columns.difference(["building_id"])
train_numeric = train_numeric.drop(['building_id'], axis=1)
corr_mat = train_numeric.corr()
corr_mat[corr_mat > 0.7]

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,count_families,damage_grade
geo_level_1_id,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
geo_level_2_id,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
geo_level_3_id,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
count_floors_pre_eq,NaN,NaN,NaN,1.000000,NaN,NaN,0.772734,NaN,NaN
age,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
area_percentage,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
height_percentage,NaN,NaN,NaN,0.772734,NaN,NaN,1.000000,NaN,NaN
count_families,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
damage_grade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [15]:
train["damage_grade"].value_counts()

damage_grade
2    148259
3     87218
1     25124
Name: count, dtype: int64

In [16]:
train.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3